<h2>Por capital</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- searchbar -->
    <!-- (inputEmmit)="searchCapital($event)" -->
    <shared-search-box
      placeholder="Ingresa una capital"
      (onDebounce)="searchCapital($event)"
      [initialValue]="initialValueComponent"
    />

  </div>
  <div class="row">
    <div class="col">
      <shared-loader-component *ngIf="isLoading"/>
      <countries-country-table
        [countries]="capitalListApi"
      />

    </div>
  </div>
</div>
